<li>
  <%= sentence.body %>

  <form
    class="move-sentence-to-right"
    action="<%= move_to_right_sentence_url(sentence) %>"
    method="post"
    data-remote="true">

    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <input type="hidden" name="_method" value="put">

    <button class="sentence-red">Toggle Red</button>
    <!-- <button class="sentence-unread">Turn Unred</button> -->
  </form>
</li>