<li class="sentences">
  <%= sentence.body %>
</li>

# this should be a form, which both calls a controller method 
# and the ajax request... that should allow it to stay

# maybe make both a left and a right side partial? ... possibly
# with a way of making it not have to go through the collection twice...
# that should be done on the rails backend.. i guess it'll have to do
# @right_collection = ... and then just sort it