<h1>Here are the sentences!</h1>

<ul id="sentence-list-left">
  <%= render partial: "sentences/sentence", collection: @sentences %>
</ul>

<ul>
  
</ul>


<script>

$(document).ready(function(){

  var $left = $("#sentence-list-left");

  $left.on("click", "form", function(event, data){
    console.log("the data is ", data);
  });

});


</script>