
<header>
  <h1>Here are the sentences!</h1>
</header>

<article class="group">
  <section class="column" id="left">
    <ul id="sentence-list-left">
      <%= render partial: "sentences/left_sentence" %>
    </ul>
  </section>

  <section class="column" id="right">
    <ul id="sentence-list-right">
      <%= render partial: "sentences/right_sentence" %>
    </ul>
  </section>
</article>


<script>

$(document).ready(function(){

  var $left = $("#sentence-list-left");
  var $right = $("#sentence-list-right");


  $left.on("ajax:success", "form", function(event, data){
    var $li = $(event.target).closest("li");
    $li.hide()
    // console.log("the data is ", data);
    $right.append(data);
  });


  $right.on("ajax:success", "form", function(event, data){
    var $li = $(event.target).closest("li");
    $li.hide()
    // console.log("the data is ", data);
    $left.append(data);
  });

});

</script>