
<header>
  <h1>Some Favorite Quotes:</h1>
  <h2>Click on a quote to move it to the other column.</h2>
</header>

<section class="new-quote">
  <form
    action="<%= sentences_url %>"
    method="post"
    data-remote="true"
    id="new-sentence">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="hidden" name="sentence[is_left]" value="true">

  <textarea class="quote-textarea" name="sentence[body]"></textarea>

  <input class="submit-quote" type="submit" value="Contribute a quote!">

  </form>
</section>

<article class="group">
  <section class="column" id="left">
    <ul id="sentence-list-left">
      <%= render partial: "sentences/left_sentence" %>
    </ul>
  </section>

  <section class="column" id="right">
    <ul id="sentence-list-right">
      <%= render partial: "sentences/right_sentence" %>
    </ul>
  </section>
</article>


