/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* --- reset all of the things -- */

body, header, h1, ul, li, a, form, 
button, article, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* --- CLEAR FIX --- */

.group:after {
  display: block;
  clear: both;
  content: "";
}

/* --- elements --- */

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: normal;
  width: 1000px;
  margin: auto;
}

header {
  height: 100px;
  background: #325050;
  color: #fff;
}

h1 {
  font-size: 20px;
  text-align: center;
}

article {
  float: right;
}

section.column {
  width: 450px;
  border: 5px solid #325050;
  margin: 15px 21px;
  float: left;
  background: rgba(138, 188, 159, 0.5);
}

section.column#right {
  text-align: right;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: none;
}


