/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* --- reset all of the things -- */

body, header, h1, h2, ul, li, form, 
button, article, section, textarea,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* --- CLEAR FIX --- */

.group:after {
  display: block;
  clear: both;
  content: "";
}

/* --- elements --- */

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: normal;
  width: 900px;
  margin: auto;
  margin-bottom: 50px;
}

header {
  background: #1188dd;
  color: #fff;
  /*border-radius: 20px;*/
  margin-top: 25px;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 50px;
  padding-bottom: 15px;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
}
article {
  float: right;
}

section.column {
  width: 430px;
  margin: 15px 10px;
  float: left;
}

section.column#right {
  text-align: left;
}

section.column#left {
  text-align: right;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 15px;
  padding: 3px 7px;
  border: 3px solid #22dd11;
  border-radius: 10px;
}

li:hover {
  border: 3px solid #1bae0d;
  cursor: pointer;
}

li.shadow {
  -moz-box-shadow: 1px 1px 3px 3px #ccc;
  -webkit-box-shadow: 1px 1px 3px 3px #ccc;
  box-shadow: 1px 1px 3px 3px #ccc;
}

button {
  background: none;
  color: #474747;
  cursor: pointer;
}

button:active {
  outline: none;
}

section.new-quote {
  margin: 0 275px;
  width: 370px;
  overflow: auto;
}

textarea {
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 5px solid #18d;
  width: 340px;
  height: 100px;
  padding: 8px 10px;
  resize: none; 
}

input.submit-quote {
  /*border: 1px solid black;*/
  float: right;
  padding: 3px 8px;
  color: #fff;
  background: #18d;
  font-size: 18px;
}

input.submit-quote:hover {
  border-radius: 5px;
  background: #0c5c96;
  cursor: pointer;
}



